* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #b2d366 0%, #6ca774 100%);
  color: white;
  font-family: "Hachi Maru Pop", "Poppins";
  min-height: 100vh;
}

header {
  font-size: 1.7rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #6ca774;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  color: white;
  background: #6ca774;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn {
  color: white;
  background: #6ca774;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.complete-btn:hover,
.trash-btn:hover {
  color: #6ca774;
  background: white;
}
.complete-btn {
  background: rgb(74, 255, 74);
}
.trash-btn {
  background: rgb(233, 60, 60);
}
